@use '../core/variables' as vars;

.page_footer {
    background-color: #0C474B;
    color: #b6c8c9;
    font-family: vars.$fontText;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
        
        .articles {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;                    
                 }

        .imageFooter {
            display: flex;
            flex-direction: column;
;
                    
            .socialMedia {
                width: 25px;    
                height: 25px;
                display: flex;
                gap: 15px;
                justify-content: center;
                    }
        
            }
            
        .goUp {
            width: 15px;
            height: 15px;
            margin-left: 250px;
               }    
    
    }

@media screen and (min-width: 900px) {

    .page_footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        .articles {
            display: flex;
            flex-direction: row;
            }    
        
        .imageFooter {
            display: flex;
            align-items: flex-end;
            
        }
    }
    
}