header {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-left: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
       }



