header {
    background-color: transparent;
    background-size: cover;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
                   
        .burguer {
            width: 24px;
            height: 24px;
            margin: 50px;
                }
        .header_logo{
            margin: 20px 100px;
            margin-right: 600px;
            
            
               }
        .nav-links {
            display: none;
                }

        }



