header {
    background-color: transparent;
    display: flex;
    padding: 20px;
    align-items: center;
    position: fixed;
    width: 100%;
           
        .burguer {
            width: 24px;
            height: 24px;
                }
        .header_logo{
            width: 100%;
            text-align: center;
            margin-top: 10px;
             }
        .nav-links {
            display: none;
                }

        }



