@use '../core/variables' as vars;

.page__main 
{   font-family: vars.$fontText;
            
    .section-enjoy {
        font-size: 24px;
        background-image: url("../images/header.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 62px;
        gap: 35px;
        
            .enjoy-text {
                color: vars.$colorText;
                margin-top: 70px;
                          
                    }
    }
}

   