<header>
    <nav class="nav-links">
        <a href="https://adalab.es" rel="todos los caminos llevan a Adalab" target="_blank">Productos</a>
        <a href="https://adalab.es" rel="todos los caminos llevan a Adalab" target="_blank">Colecciones</a>
        <a href="https://adalab.es" rel="todos los caminos llevan a Adalab" target="_blank">Tienda</a>
        <a href="https://adalab.es" rel="todos los caminos llevan a Adalab" target="_blank">Inicio</a>
    </nav>
    <img src="./images/logo.png" alt="logo de Open Spaces">
      
</header>
