<main class="page__main">
  <section class="section-enjoy" >
    <h2 class="enjoy-text" >Disfruta creando espacios</h2>
    <button class="button" >Comprar ahora</button>
  
  </section>

  <section class="sectionOpenspaces">
    <h2 class="openspacesText">Volverse organizado se siente mejor con OPEN SPACES</h2>
        <div class="firstService">
          <img src="./images/icon_1.png" alt="icono lo que necesitas" class="imagesOpen">
          <p class="openTitle">Lo que necesitas </p>
          <p class="openSubtitle">Una linea de productos diseñados para todos tus espacios</p>
        </div>

        <div class="secondService">
          <img src="./images/Biodegradable_bag.png" alt="icono materias primas sustentables" class="imagesOpen">
          <p class="openTitle">Materias primas <p>
          <p class="openSubtitle">Todos los productos con materias primas sustentables</p>
        </div>

        <div class="thirdService">
          <img src="./images/Park.png" alt="icono guía" class="imagesOpen">
          <p class="openTitle">Guía<p>
          <p class="openSubtitle">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </div>
  </section>
  




</main>
